<!DOCTYPE html>
<html ng-app="plunker">
<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <link data-require="bootstrap-css@*" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link rel="stylesheet" href="style.css" />
  <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.14/angular.js" data-semver="1.2.14"></script>
 <script >
var app = angular.module('plunker', []);

app.controller('MainCtrl', function($scope) {

  $scope.data = [{
    id: 1,
    name: 'Name 8'
  }, {
    id: 2,
    name: 'Name 7'
  }];
  $scope.tableSelection = {};

  $scope.isAll = false;
  $scope.selectAllRows = function() {
    //check if all selected or not
    if ($scope.isAll === false) {
      //set all row selected
      angular.forEach($scope.data, function(row, index) {
        $scope.tableSelection[index] = true;
      });
      $scope.isAll = true;
    } else {
      //set all row unselected
      angular.forEach($scope.data, function(row, index) {
        $scope.tableSelection[index] = false;
      });
      $scope.isAll = false;
    }
  };

  $scope.removeSelectedRows = function() {
    //start from last index because starting from first index cause shifting
    //in the array because of array.splice()
    for (var i = $scope.data.length - 1; i >= 0; i--) {
      if ($scope.tableSelection[i]) {
        //delete row from data
        $scope.data.splice(i, 1);
        //delete rowSelection property
        delete $scope.tableSelection[i];
      }
    }
  };

  $scope.addNewRow = function() {
    //set row selected if is all checked
    $scope.tableSelection[$scope.data.length] = $scope.isAll;
    $scope.data.push({
      id: $scope.data.length,
      name: 'Name ' + $scope.data.length
    });
  };

});
</script>
</head>

<body ng-controller="MainCtrl">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <input type="checkbox" ng-model="isAll" ng-click="selectAllRows()"/>
        </th>
        <th>
          ID
        </th>
        <th>
          NAME
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in data" ng-class="{'success' : tableSelection[$index]}">
        <td>
          <input type="checkbox" ng-model="tableSelection[$index]" />
        </td>
        <td ng-repeat="cell in row">
          {{cell}}
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" ng-click="addNewRow()">Add New Row</button>
  <button class="btn btn-danger" ng-click="removeSelectedRows()">Remove Selected Rows</button>
</body>
</html>
