<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

 <script>
var myApp = angular.module('myApp',[]);

var ctrlfun = function($rootScope,$scope,$http)
{
$scope.isFolderOpen = true;
$scope.isFolderOpen1 = true;

//var url1="https://api.myjson.com/bins/db2w3";
var url1="https://api.myjson.com/bins/110bpn"

$http.get(url1).then(function(response)
		{
		$scope.friends = response.data.data;
		});
}

var directivFun1 = function() 
	{
    return {
        restrict: 'EA',
        scope: { obj: '=' },  
		template: `<div ng-if = "obj.type =='folder'")> <div ng-if = !isFolderOpen>
						  <button type="button" class="btn btn-default btn-sm" ng-click="openChildren()">
						  <span class="glyphicon glyphicon-folder-close"></span> Open </button>	</div>
						  <div ng-if = isFolderOpen>
						  <button type="button" class="btn btn-default btn-sm" ng-click="openChildren()">
						  <span class="glyphicon glyphicon-folder-open"></span> Close </button>	</div>					
					</div>
					<div ng-if = "obj.type =='file'")> <span class="glyphicon glyphicon-file"></span> </div> 
					{{obj.name}} Path:{{obj.path}} <div ng-if = isFolderOpen1> 
					<div ng-repeat="child in obj.children">
					<pass-object obj=child> </pass-object><div>`,
		controller: function($scope,$element,$attrs)
				{
					$scope.openChildren = function()
					{
						$scope.isFolderOpen = !($scope.isFolderOpen);
						$scope.isFolderOpen1 = !($scope.isFolderOpen1);
					}
				}	
					
			};
	}	
	
myApp.controller('MyCtrl', ctrlfun);
myApp.directive('passObject', directivFun1);

</script>
<body ng-app="myApp">
<div ng-controller="MyCtrl">
	<div ng-repeat="f in friends">
	<pass-object obj=f> </pass-object>
	
</div>	
</div>
</body>
</html>